body {
    background-image:url(http://i.imgur.com/0VQrkyH.gif); 

}

.rtp{
height: 190px;
width: 340px;
border: 6px solid darkorange;
border-radius: 30px;
margin:30px 10px 15px 80px;


}
img{
width: 90%;
}
h1{
color:darkorange;
}
