body {
    background-image:url(http://i.imgur.com/0VQrkyH.gif); 

}

.rtp{
height: 200px;
width: 27%;
border: 6px solid darkorange;
border-radius: 30px;
margin:30px 10px 0px 40px;


}
img{
width: 90%;
}
h1{
color:darkorange;
}
div{
display: block;
}

